<html>
	<head>
		<title>TechTweaks</title>

	</head>
	<body>
		<h1>Welcome Visitor</h1>
		<div>
			<p>Published: 2/5/2016</p>
			<a href=""><h2>How to Use Aitel BB Complete plan on Android</h2></a>
		</div>
		<div>
			<p>Published: 2/5/2016</p>
		   <a href=""> <h2>Blackberry Subscription Codes</h2></a> 
		</div>
		
		<h4>Previous posts</h4>
		<ul>
			<li>
				<a href="#">How to tweak the IMEI of your Android phone</a>
			</li>
			<li>
				<a href="#">How to tweak the IMEI of your Android phone</a>

			</li>
			

		</ul>
		
	</body>


</html>